@charset "UTF-8";
*{margin: 0; padding: 0;}
.FormUsuario{
text-align: center;
}

li a {
    text-decoration: none;
    color: #EEE;
}
li a:hover{
background-color: #B22222;
padding: 20px; 	
}
li {
    width: 200px;
    height: 40px;
    color: #EEE;
    text-align: center;
}
ul{
 list-style: none;
padding-left: 0px;
list-style: none;
margin-top: 40px;
}


body{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}


img#logo{
    position: absolute;
    width: 200px; 
    height: 200px; 
    left: 25px;
    top: 20px;
    
}
div.left{
    background-color: #8B0000;
    position: absolute;
    left: 25px;
    top: 230px;
    width: 200px;
    height: 500px;

}
div.center{
    background-color: #bbb;
    position: absolute;
    left: 240px;
    top: 230px;
    width: 870px;
    height: 500px;
}
div.rigth{
   background-color: darkgray;
    position: absolute;
    left: 1125px;
    top: 130px;
    width: 200px;
    height: 500px;
}

nav#menu{
    position: relative;
    z-index: 1000;
}